.uniqueClassName {
    text-align: center;
}

.classCenter {
    text-align: center;
}

.classRight {
    text-align: right;
}

.classLeft {
    text-align: left;
}

.gridx2 {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 1em;
}

.gridx2M {
    display: grid;
    grid-template-columns: 350px 200px;
    grid-column-gap: 1em;
}

.gridx2p {
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-column-gap: 1em;
}

.gridx3 {
    display: grid;
    grid-template-columns: 110px 1fr 100px;
    grid-column-gap: 1em;
}

.gridx3 {
    display: grid;
    grid-template-columns: 1fr 200px 150px;
    grid-column-gap: 1em;
}

.gridx4pm {
    display: grid;
    grid-template-columns: 1fr 200px 100px 200px;
    grid-column-gap: 1em;
}

.gridx4 {
    display: grid;
    grid-template-columns: 110px 1fr 110px 150px;
    grid-column-gap: 1em;
}

.gridx5 {
    display: grid;
    grid-template-columns: 140px 1fr 120px 120px 150px;
    grid-column-gap: 1em;
}

.gridx5fl {
    display: grid;
    grid-template-columns: 1fr 1fr 120px 120px 150px;
    grid-column-gap: 1em;
}

.gridx5M {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    text-align: center;
}

.gridx6 {
    display: grid;
    grid-template-columns: 1fr 140px 120px 120px 150px 120px;
    grid-column-gap: 1em;
}

.gridx6pp {
    display: grid;
    grid-template-columns: 1fr 1fr 120px 120px 150px 120px;
    grid-column-gap: 1em;
}

.gridx8 {
    display: grid;
    grid-template-columns: 1fr 120px 120px 120px 120px 120px 140px 120px;
    grid-column-gap: 1em;
}